@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

.detectors-list-container {
    display: flex;
    flex-flow: row nowrap;
    color: #111827;
    padding: 20px;
    font-family: 'Signika Negative', sans-serif;

}

.detectors-list-container__title h3{
    font-size: 18px;
    font-family: 'Signika Negative', sans-serif;
}

