@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

.execute-container {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 20px;

    .execute-container__title {
        font-family: 'Signika Negative', sans-serif;
        width: 23%;
        color: #333;
        font-size: 18px;

    }

    .execute-container__order {
        list-style-type: none; 
        padding: 20px;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;

        .settings-button {
            color: #fff;
            background: linear-gradient(90deg, #A106F4, #3D5AB8);
            border-radius: 5px;
            font-weight: bold;
            font-family: 'Sometype Mono', monospace;
            padding: 10px;
        }

    }

    .execute-container__order li::marker {
        color: #007bff; /* Set the color of the emoji */
        font-size: 15px; /* Adjust the font size as needed */
        margin-bottom: 15px;
    }

    .execute-container__order__select {
        margin-left: 20px;
        margin-bottom: 15px;
        width: 10%;
        border: 2.5px solid #3D5AB8;
        border-radius: 5px;

    }

}