
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

.settings-container {
  padding: 20px;
  border-radius: 5px;
  margin-left: 0 auto;
}

.settings-container h3 {
  color: #333;
  font-size: 18px;
  font-family: 'Signika Negative', sans-serif;
}

.settings-container__fields {
  gap: 10px;
}

.params-container,
.step-size-container,
.total-steps-container {
  width: 30%;
}

input[type="text"],
input[type="number"] {
  width: 80%;
  padding: 10px;
  border: 2.5px solid #3D5AB8;
  border-image-slice: 1;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 15px;
}

label {
  padding: 10px 10px 10px 0;
}
