@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');


.instrument-list-container {
    display: flex;
    flex-flow: column nowrap;
    color: #111827;
    padding-left: 20px;
    font-family: 'Signika Negative', sans-serif;

    
}